.sidebar {
  .topbar {
    .navigation {
      display: flex;
      gap: var(--space-m);
    }

    .nav-item {
      font-size: var(--font-size-xs);
      position: relative;
    }

    .nav-item-active::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: white;
      transform: translateX(-50%);
      border-radius: 2px 2px 0 0;
      left: 50%;
      bottom: -1px;
    }
  }

  .sidebar-menu {
    justify-content: space-between;

    .navigation {
      .menu {
        margin-top: var(--space-l);
      }
    }

    .user-settings {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
